[submodule "petit-food-payments"]
	path = petit-food-payments
	url = git@github.com:RafaelPetit/petit-food-payments.git
[submodule "petit-food-server"]
	path = petit-food-server
	url = git@github.com:RafaelPetit/petit-food-server.git
[submodule "petit-food-orders"]
	path = petit-food-orders
	url = git@github.com:RafaelPetit/petit-food-orders.git
[submodule "petit-food-gateway"]
	path = petit-food-gateway
	url = git@github.com:RafaelPetit/petit-food-gateway.git
